[submodule "lib/CherryUSB"]
	path = lib/CherryUSB
	url = https://github.com/zhaqian12/CherryUSB.git
	branch = MultiPortDwc2
[submodule "lib/uf2"]
	path = lib/uf2
	url = https://github.com/microsoft/uf2.git
[submodule "sdk/CMSIS_5"]
	path = sdk/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
